.navbar-show {
  animation-name: navbar-slide-in;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
}
@keyframes navbar-slide-in {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.navbar-show .logo {
  opacity: 1;
}
